<html>

<head>
    <title>Expenses</title>
    {{ template "style.html" }}
</head>

<body>
    <h1>TeamBooks</h1>
    <div id="nav">
        <span class="selected">Expenses</span>
        <span><a href="/users">Users</a></span>
    </div>
    <div id="main">
        <form method="GET" action="/expenses">
            <label>Item Filter:</label><input type="text" name="what" placeholder="taco" /><button>Submit</button>
        </form>
        <table>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
            {{ range .Rows }}
            <tr>
                {{ range . }}
                <td>{{ . }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </div>
</body>

</html>