<html>

<head>
    <title>Users</title>
    {{ template "style.html" }}
</head>

<body>
    <h1>TeamBooks</h1>
    <div id="nav">
        <span><a href="/expenses">Expenses</a></span>
        <span class="selected">Users</span>
    </div>
    <div id="main">
        <form method="GET" action="/users">
            <label>Filter:</label><input type="text" name="who" placeholder="joel" /><button>Submit</button>
        </form>
        <table>
            <tr>
                <th>User</th>
                <th>Password</th>
                <th>Added</th>
            </tr>
            {{ range .Rows }}
            <tr>
                {{ range . }}
                <td>{{ . }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </div>
</body>

</html>